{% extends 'nav.html' %}

{% load static %}

{% block body %}
<div class="text-center mt-5">
    <img src="{% static 'photo/profile.jpg'%}" alt="profile" class="img-thumbnail" width="250px" height="150px">
</div>
<div>
    <h1 class="mt-5 text-white st-font"> hello,</h1>
    <p style="text-indent: 100px;" class="text-white "> <b>Lorem </b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur inventore deserunt
        voluptatum, blanditiis recusandae repellendus numquam, cupiditate totam aspernatur explicabo eius esse quidem
        dignissimos beatae quibusdam consequatur dolore similique nostrum repudiandae eos voluptas est ea nisi nam. Est
        dolore, provident obcaecati at nemo quibusdam eligendi sequi delectus, sit eaque tempore blanditiis cum
        consequuntur natus vitae adipisci illo distinctio mollitia reiciendis voluptates, excepturi magni odio. Ea quo
        aspernatur laudantium perspiciatis voluptates, similique, amet magni iure alias fugit earum odio ab ad quaerat,
        est eveniet tenetur unde eligendi at sint tempora odit dolorum quidem? Iure, saepe odit consequuntur aspernatur
        sapiente repellendus, ad praesentium fugit cumque, pariatur ab vero? Eum eaque est veritatis doloribus
        voluptatum itaque in odio aspernatur quia, aliquid amet magnam inventore velit delectus optio a ullam
        repellendus repudiandae atque cupiditate! Nostrum exercitationem minus quod similique? Quae quod minus nam iure
        aliquam quis similique quasi! Veniam inventore et blanditiis excepturi ut. Neque, est impedit reprehenderit sint
        nam vero labore cum dolor quo id natus placeat aspernatur unde dolorum? Ducimus modi, repellat enim maxime
        minima esse vitae, veniam eum consectetur incidunt fugit veritatis dicta aspernatur distinctio, ut perferendis
        recusandae nostrum sint saepe rem quaerat totam! Tempore minima adipisci in similique maiores, aliquam sapiente
        dolorem rem dolor dolore qui facilis incidunt voluptas asperiores aperiam praesentium explicabo, exercitationem
        ipsa harum cumque pariatur sed enim. Esse at qui ipsa praesentium iusto officiis saepe, ipsum quis, facilis
        perspiciatis fugiat officia quisquam eius laborum. Nesciunt aperiam repellendus laboriosam eos magni, expedita
        deleniti asperiores nulla consequatur quis quae dignissimos velit cum, ipsum earum rerum nostrum harum facere
        voluptas! Quod reiciendis laudantium minus? Accusantium quae, possimus voluptate odit voluptates facilis
        voluptatem ex, cumque, laborum delectus qui mollitia ea reiciendis ipsam eos non praesentium impedit libero
        repudiandae! Error iusto quam, dolorem sit odio iste iure aperiam! Corrupti praesentium adipisci expedita?
    </p>
 <div class="text-center"> 
    <a href="{% url 'contact' %}" class="btn btn-warning my-3 p-2">hire me</a>
    <a href="{% url 'contact' %}" class="btn btn-info mx-5 my-3 p-2">contact</a>
</div>
</div>

{% endblock %}