{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">


</head>
<body>
    <div class="container-fluid bg-dark">

        <div class="row">
            <div class="col-sm-3">
            
                <div class="border-end border-warning h-100">
                    <div class="text-center">
                        <img src="{% static 'photo/profile.jpg'%}" alt="Profile image" class="img-fluid rounded-circle mt-5"
                            width="100px" height="100px">
                    </div>
                    <div class="st-font">
                        <h2 class=" text-white text-center mt-3">Ram Sovit Mahato</h2>
                    </div>
                    
            
                    <hr class="border ">
                    <nav class="nav flex-column text-center">
                        <a href="{% url 'home' %}" class="nav-link {{home}}">About me</a>
                        <a href="{% url 'services' %}" class="nav-link {{services}}">Services</a>
                        <a href="{% url 'skills' %}" class="nav-link {{skills}}">Skills</a>
                        <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contacts</a>
                    </nav>
                </div>
           
            </div>

           <div class="col-sm-8 offset-1">
            {% block body %} {% endblock %}
           </div>
                
            
        </div>
    </div>
   
    <script src="{% static '/js/all.min.js' %}"></script>
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
</body>
</html>