{% extends 'nav.html' %}

{% load static %}

{% block body %}
<div class="container">
    <div class=" mt-5 border-bottom">
        <h1 class="text-warning">Services</h1>
        </div>
        <div class="row">
           
            <div class="col-sm-6">
                <div class="text-white text-center  mt-5">
                    <i style="color: blue;" class="fas fa-palette fa-4x"></i>
                   <h2>Web Development</h2>
                    <p class="justify-content-end">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam accusamus adipisci corrupti perferendis quis officiis sunt laboriosam beatae at cumque itaque dicta omnis possimus a voluptatibus vitae, amet excepturi quam!
                    </p>
                
                </div>

            </div>

            <div class="col-sm-6">
                <div class="text-white text-center  mt-5">
                    <i style="color: blue;" class="fas fa-database fa-4x"></i>
                   <h2>Database</h2>
                    <p class="justify-content-end">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam accusamus adipisci corrupti perferendis quis officiis sunt laboriosam beatae at cumque itaque dicta omnis possimus a voluptatibus vitae, amet excepturi quam!
                    </p>
                
                 </div>
            </div>

        </div>

        <div class="row">
           
            <div class="col-sm-6">
                <div class="text-white text-center my-3 mt-5">
                    <i style="color: blue;" class="fas fa-network-wired fa-4x"></i>
                   <h3>Networking(Routing and Switching)</h3>
                    <p class="justify-content-end mb-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam accusamus adipisci corrupti perferendis quis officiis sunt laboriosam beatae at cumque itaque dicta omnis possimus a voluptatibus vitae, amet excepturi quam!
                    </p>
                
                </div>

            </div>

            <div class="col-sm-6">
                <div class="text-white text-center  mt-5">
                    <i style="color: blue;" class="fas fa-tools fa-4x"></i>
                   <h2>Repairing Suport</h2>
                    <p class="justify-content-end mb-5 my-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam accusamus adipisci corrupti perferendis quis officiis sunt laboriosam beatae at cumque itaque dicta omnis possimus a voluptatibus vitae, amet excepturi quam!
                    </p>
                
                 </div>
            </div>

        </div>

</div>

{% endblock body %}