{% extends 'nav.html' %}

{% load static %}

{% block body %}

<div class="container mb-5">
   <h1 class="text-warning border-bottom mb-5 mt-5">Skills</h1>
   <div class="row text-white">
      <div class="col-sm-10 mx-5">
         <h1>HTML5/CSS3</h1>
         <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 95%"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">95%</div>
         </div>

         <h1 class="mt-5">BOOTSTRAP4</h1>
         <div class="progress">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 85%"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">85%</div>
         </div>
         <h1 class="mt-5">PYTHON/DJANGO</h1>
         <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 65%"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">65%</div>
         </div>
         <h1 class="mt-5">COMPUTER NETWORKING</h1>
         <div class="progress">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 85%"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">85%</div>
         </div>
         <h1 class="mt-5">SQL/SQLITES</h1>
         <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">75%</div>
         </div>
         <h1 class="mt-5">JAVA</h1>
         <div class="progress">
            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 35%"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">35%</div>
         </div>
        
         <h2 class="mt-5 ">C/C++</h2>
         <div class="progress">
            
               <div class="progress-bar progress-bar-striped bg-primary  " role="progressbar" style="width: 90%"
                  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">90%</div>
         
         </div>
      </div>

   </div>

</div>



{% endblock body %}